<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column " fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <header style="outline:none" routerLink="/home"><span routerLink="/home" style="outline:none" class="home-logo">
                </span><button mat-raised-button routerLink="/login" class="signout-btn" color="accent">LOGIN</button></header>
    <form [formGroup]="registerform" style="width:425px;" class="login-form">
      <mat-card>
        <mat-card-title style="text-transform:uppercase;color:#fff;padding-bottom:1rem;" align="center">Register REBOOKMYSHOW</mat-card-title>

        <mat-card-content align="center">
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput placeholder="Enter your Name" required formControlName="name">
            <mat-error align="start" *ngIf="name.hasError(&apos;required&apos;)">enter your name</mat-error>
            <mat-label>Name</mat-label>
          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput placeholder="Enter your Email" required formControlName="email">
            <mat-error align="start" *ngIf="email.hasError(&apos;required&apos;)">enter your email</mat-error>
            <mat-error align="start" *ngIf="email.hasError(&apos;email&apos;)">Enter valid email</mat-error>
            <mat-label>Email</mat-label>
          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput type="password" placeholder="Enter your Password" required formControlName="password">
            <mat-error align="start" *ngIf="password.hasError(&apos;required&apos;)">Enter your password</mat-error>
            <mat-label>Password</mat-label>
          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput placeholder="Enter your Mobile number" required formControlName="mobile">
            <mat-error align="start" *ngIf="mobile.hasError(&apos;required&apos;)">Enter your mobile number</mat-error>
            <mat-label>Mobile</mat-label>
          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;float:left;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput placeholder="Enter OTP" required>
            <mat-label>Mobile OTP</mat-label>
          </mat-form-field><button mat-raised-button style="float: right;margin-top: 10px;" class="send-otp-btn" color="accent">Send OTP</button>
        </mat-card-content>

        <mat-card-actions align="center"><button mat-raised-button style="width:94%;" class="new-style-btn" (click)="register()">Register</button></mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>