<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <header><span class="home-logo">
                </span><button mat-raised-button class="signout-btn" color="accent" (click)="signout()">Sign Out</button><button mat-raised-button style="float: right;margin-top: .5rem;" routerLink="/profile" color="primary">My Account</button></header>
    <mat-card style="width:100%;">
      <mat-card-title class="add-ticket-details-info" style="text-transform:uppercase;color:#fff;padding-bottom:1rem;" align="center">Add Ticket Info</mat-card-title>

      <mat-card-content align="center" style="width:100%;" class="login-form">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput [(ngModel)]="user.movie" name="user.movie" placeholder="Enter your Movie details" required>
            <mat-label>Movie Info</mat-label>
          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput [(ngModel)]="user.theatre" name="user.theatre" placeholder="Enter the theatre details" required>
            <mat-label>Theatre Info</mat-label>
          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;">
            <input matInput placeholder="SHOW DATE" [matDatepicker]="picker" [(ngModel)]="user.date" required [disabled]="false">
            <mat-datepicker-toggle matSuffix [for]="picker" disabled="false"></mat-datepicker-toggle>
            <mat-datepicker #picker color="primary" [disabled]="false" [opened]="false"></mat-datepicker>

          </mat-form-field>
          <mat-form-field [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <mat-select style="text-transform:uppercase;color:#ffffff;" class="select select-date" placeholder="Enter time" [(ngModel)]="user.time" required>
              <ng-template ngFor let-option [ngForOf]="time" let-i="index">
                <mat-option [value]="option">{{option}}</mat-option>
              </ng-template>
            </mat-select>

          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput [(ngModel)]="user.tickets" name="user.tickets" type="number" placeholder="Enter the number of tickets" required>
            <mat-label>Tickets</mat-label>
          </mat-form-field>
          <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
            <input matInput [(ngModel)]="user.amount" name="user.amount" type="number" placeholder="Enter your Ticket price" required>
            <mat-label>Ticket Price</mat-label>
          </mat-form-field><button mat-raised-button style="width:100%;" class="new-style-btn" (click)="onSell()">Sell Your Tickets</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>