<div fxLayout="column wrap" class="buyerticket-details" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div class="by-ticket-welcm">
    Welcome!</div>
  <div class="by-ticket-information">
    CLICK TO BOOK YOUR SHOW</div>
  <div class="by-ticket-price">
    {{data.amount}}</div><button mat-raised-button class="new-style-btn" (click)="buy()">Book Your Ticket</button>
</div>