<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <header><span class="home-logo">
                </span><button mat-raised-button class="signout-btn" color="accent" (click)="signout()">Sign Out</button><button mat-raised-button style="float: right;margin-top: .5rem;" routerLink="/profile" color="primary">My Account</button></header>
    <mat-card style="width:100%;">
      <mat-card-title class="ticket-details-info" style="text-transform:uppercase;color:#fff;padding-bottom:1rem;" align="center">Ticket Details</mat-card-title>

      <mat-card-content align="center" style="width:100%;" class="login-form">
        <div fxLayout="column">
          <table mat-table [dataSource]="ticketInformation" class="table-width-fix">
            <tr mat-header-row *matHeaderRowDef="[&apos;index&apos;,&apos;movie&apos;,&apos;theatre&apos;,&apos;date&apos;,&apos;time&apos;,&apos;tickets&apos;,&apos;amount&apos;,&apos;b5d62153-3ebb-e69d-fb5a-207d0cecd726&apos;]"></tr>
            <tr mat-row *matRowDef="let row; columns: [&apos;index&apos;,&apos;movie&apos;,&apos;theatre&apos;,&apos;date&apos;,&apos;time&apos;,&apos;tickets&apos;,&apos;amount&apos;,&apos;b5d62153-3ebb-e69d-fb5a-207d0cecd726&apos;];"></tr>

            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>S.No</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{i+1}}</td>
            </ng-container>

            <ng-container matColumnDef="movie">
              <th mat-header-cell *matHeaderCellDef>Movie</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.movie}}</td>
            </ng-container>

            <ng-container matColumnDef="theatre">
              <th mat-header-cell *matHeaderCellDef>Theatre</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.theatre}}</td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.date}}</td>
            </ng-container>

            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef>Time</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.time}}</td>
            </ng-container>

            <ng-container matColumnDef="tickets">
              <th mat-header-cell *matHeaderCellDef>No.of Tickets</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.tickets}}</td>
            </ng-container>

            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef>Price</th>
              <td mat-cell *matCellDef="let table; let i = index;">{{table.amount}}</td>
            </ng-container>

            <ng-container matColumnDef="b5d62153-3ebb-e69d-fb5a-207d0cecd726">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let table"><button mat-raised-button class="new-style-btn" (click)="buyticket(table)">Buy Ticket</button></td>
            </ng-container>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>