<div fxLayout="row wrap" style="width: 100%;" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <header style="outline:none"><span routerLink="/home" style="outline:none" class="home-logo">
                </span><button mat-raised-button routerLink="/register" class="signout-btn" color="accent">SIGN UP</button></header>
    <form [formGroup]="loginform" class="login-form">
      <mat-card style="color:#ffffff;">
        <mat-card-title style="text-transform:uppercase;color:#fff;padding-bottom:1rem;" align="center">Welcome USER</mat-card-title>

        <mat-card-content align="center">
          <div fxLayout="column wrap" style="color:#ffffff;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
            <mat-form-field style="text-transform:uppercase;color:#ffffff;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
              <input matInput placeholder="Enter your Email" required formControlName="email">
              <mat-error align="start" *ngIf="email.hasError(&apos;required&apos;)">Enter your email</mat-error>
              <mat-error align="start" *ngIf="email.hasError(&apos;email&apos;)">please enter valid email</mat-error>
              <mat-label>Email</mat-label>
            </mat-form-field>
            <mat-form-field style="text-transform:uppercase;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;always&apos;">
              <input matInput type="password" placeholder="Password" required formControlName="password">
              <mat-error align="start" *ngIf="password.hasError(&apos;required&apos;)">Enter your password</mat-error>
              <mat-label>Password</mat-label>
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions><button mat-raised-button style="width:94%;" class="new-style-btn" color="warn" (click)="onsubmit()">Login</button>
          <p>
          </p>
          <p *ngIf="error">{{errormsg}}</p>
          <p></p>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>