/*Importing default angular material css theme. */

@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "nDefaults.scss";
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');
body{background-color:#001232}
bh-login,.mat-card,.mat-form-field,.new-style-btn,bh-buyer,bh-buyer .mat-table,bh-profile,bh-buyerticketdetails{font-family:'Lato',sans-serif!important}
.mat-form-field{line-height:1.2}
bh-home{display:flex;padding:.55rem 1rem 1rem 1.1rem;height:95vh;background:url(assets/images/home-page-bg.png) no-repeat top center #001232;background-position:top center;background-size:cover}
bh-login,bh-register,bh-seller,bh-buyer,bh-profile{background-color:#001232;display:flex;padding:1rem;height:95vh;background:url(assets/images/login-bg.png) no-repeat top center #001232;background-position:top center;background-size:cover}
bh-register,bh-seller,bh-buyer,bh-profile{justify-content:center}
span.home-logo{background-image:url(assets/images/rebookmyshow-logo.png);background-repeat:no-repeat;float:left;width:377px;height:52px;position:relative;top:-10px;left:-10px;cursor:pointer}
header{display:block;width:100%;text-align:right}
header button{text-transform:uppercase;margin-left:.5rem!important}
bh-login header,bh-register header,bh-seller header,bh-buyer header,bh-profile header{display:block;background-color:#0e1a4a;text-align:center;width:100%;height:56px;position:absolute;top:0}
bh-login span.home-logo,bh-register span.home-logo,bh-seller span.home-logo,bh-buyer span.home-logo,bh-profile span.home-logo{top:-1px;left:8px;cursor:pointer}
.login-form{width:300px;margin:0 auto}
.login-form mat-card{background-color:#031637;border-radius:0!important;padding:3rem 2rem;text-align:center}
bh-seller .mat-card{background-color:#000932;border-radius:0!important;padding:1rem 2rem;margin-top:2rem;text-align:center;width:500px!important;border:1px solid #010c13}
bh-profile .mat-card{background-color:#000932;border-radius:0!important;padding:2rem;margin-top:2rem;text-align:center;width:500px!important;border:1px solid #010c13}
bh-buyer .mat-card{background-color:#011d4f;border-radius:0!important;padding:1rem 0 0;margin-top:2rem;text-align:center;width:1025px!important;border:1px solid #010c13}
.login-form .mat-form-field-label,bh-seller .mat-form-field-label,bh-buyer .mat-form-field-label{color:#fff}
.login-form input::placeholder,bh-seller input::placeholder,bh-seller .mat-select-placeholder{color:#b3bac4;font-size:11px;font-family:'Lato',sans-serif!important}
.new-style-btn{background-color:#f44336;background-image:linear-gradient(to right,#f44336 0%,#673ab7 51%,#f44336 100%);text-transform:uppercase;color:#fff}
bh-buyerticketdetails .buyerticket-details{margin:0 auto}
bh-buyer td.mat-cell:last-of-type{text-align:center}
bh-buyer td.mat-column-amount{background-image:url(assets/images/rupee-indian-white.png);background-repeat:no-repeat;padding-left:1rem!important;font-weight:700;background-position:0 48%}
.by-ticket-price{font-size:2rem;padding-bottom:1rem;background-image:url(assets/images/rupee-indian.png);background-repeat:no-repeat;padding-left:1rem;background-position:0 30%}
.by-ticket-information{text-transform:uppercase;color:#30d7a9;padding-bottom:1rem;font-weight:700;font-size:1.3rem;font-family:'Lato',sans-serif!important}
.by-ticket-welcm{font-size:1rem;color:#01173e;padding-bottom:1.1rem}
.mat-dialog-container{border-radius:18px}
.select-date::placeholder,bh-seller .mat-select-value{color:#fff!important}
bh-seller .mat-datepicker-toggle,.mat-select-arrow{color:#d1c4e9!important}
bh-buyer .mat-table{background-color:#011d4f}
bh-buyer th.mat-header-cell{border-bottom-color:#18305e}
.mat-form-field-appearance-standard .mat-form-field-underline{background-color:#18305e}
bh-buyer th.mat-header-cell,bh-buyer td.mat-cell{text-transform:uppercase;text-align:left;font-size:14px}
bh-buyer td.mat-cell{text-transform:uppercase;text-align:left;font-size:14px}
bh-buyer th.mat-header-cell{color:#fff;background-color:#233987}
bh-buyer td.mat-cell{color:#b3bac4;border-bottom-color:#18305e}
bh-buyer .mat-cell.cdk-column-index.mat-column-index{padding-left:2rem}
bh-buyer td.mat-cell.cdk-column-tickets,bh-buyer .mat-header-cell.cdk-column-tickets.mat-column-tickets{text-align:center;position:relative}
bh-buyer td.mat-cell.cdk-column-tickets{color:#fff}
bh-buyer td.mat-cell.cdk-column-tickets::after{background-image:url(assets/images/ticket-bagde2.png);background-repeat:no-repeat;content:'';width:6rem;height:2.5rem;top:.6rem;position:absolute;opacity:.5;left:0;text-align:center;margin:0 auto;background-position:center 0;border-radius:7px;right:0;cursor:pointer}
bh-buyer td.mat-cell.cdk-column-tickets:hover::after{background-image:url(assets/images/ticket-bagde2-hover.png)}
.ticket-details-info,.add-ticket-details-info,.profile-ticket-details{background-image:url(assets/images/ticket-bagde.png);background-repeat:no-repeat;margin:0 auto;padding-left:4.5rem;padding-top:.2rem;cursor:pointer}
td.mat-cell.cdk-column-theatre.mat-column-theatre{background-image:url(assets/images/location-icon.png);background-repeat:no-repeat;background-position:95% .5rem;background-size:35px;cursor:pointer}
td.mat-cell.cdk-column-movie.mat-column-movie{background-image:url(assets/images/ticket-like.png);background-repeat:no-repeat;background-position:left .875rem;padding-left:1.7rem;cursor:pointer}
td.mat-cell.cdk-column-movie.mat-column-movie:hover{background-image:url(assets/images/ticket-like-1.png);cursor:pointer}
.ticket-details-info{max-width:13rem}
.add-ticket-details-info{max-width:14rem}
.profile-ticket-details{padding-top:.3rem;max-width:12.5rem}
.profile-user-view{text-align:left;padding:.5rem 2rem;color:#fff;font-size:14px}
.profile-user-view span{display: inline-block;text-transform: capitalize}
.profile-user-view span.email-ids{text-transform: lowercase}
span.profile-user-view-details {width: 10rem;}
header .signout-btn{float:right;margin-top:.5rem;margin-right:.7rem}
.mat-error{text-transform:capitalize!important;font-size:10px!important}