<div fxLayout="row wrap" style="width: 100%;" fxLayoutAlign="end start" [fxShow]="true" [fxHide]="false">
  <header><span class="home-logo">
                </span><button mat-raised-button routerLink="/login" color="accent">Login</button><button mat-raised-button routerLink="/register" color="accent">Sign up</button></header>
</div>