<div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
  <div fxLayout="column wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false">
    <header><span class="home-logo">
                </span><button mat-raised-button class="signout-btn" color="accent" (click)="signout()">Sign Out</button></header>
    <mat-card>
      <mat-card-title class="profile-ticket-details" style="text-transform:uppercase;color:#fff;padding-bottom:1rem;" align="center">User Details</mat-card-title>

      <mat-card-content>
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
          <div class="profile-user-view">
            <span class="profile-user-view-details">{{&apos;Name&apos;}}</span><span>{{&apos;: &apos; + userdata.name}}</span></div>
          <div class="profile-user-view">
            <span class="profile-user-view-details email">{{&apos;Email&apos;}}</span><span class="email-ids">{{&apos;: &apos; + userdata.email}}</span></div>
          <div class="profile-user-view">
            <span class="profile-user-view-details">{{&apos;Mobile&apos;}}</span><span>{{&apos;: &apos; + userdata.mobile}}</span></div>
          <div class="profile-user-view">
            <span class="profile-user-view-details">{{&apos;Points&apos;}}</span><span>{{&apos;: &apos; + points.points}}</span></div>
        </div>
      </mat-card-content>

      <mat-card-actions align="center">
        <div fxLayout="row wrap" fxLayoutAlign="center center" [fxShow]="true" [fxHide]="false"><button mat-raised-button style="margin-right:10px;" color="primary" (click)="sell()">TO SELL TICKETS</button><button mat-raised-button color="accent" (click)="buy()">TO BUY TICKETS</button></div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>